<html>
<head>
	<meta charset="utf-8">
	<title>Futuro</title>
</head>
<body>

	<style type="text/css">

	body {
		background: url("fondo.jpg");
	}

		h1 {
			margin-top: 100px;
			color: white;
			font-size: 30px;
			text-align: center;
		}

		p {
			color: white;
			font-size: 40px;
		}
	
	</style>
<h1>¿COMO ME VEO EN EL FUTURO?</h1>
<p>me veo como una persona de bien el en futuro lleno de metas a realizar, y proponerme nuevas mejoras para mi vida y ayudar en lo que pueda a mis amigos.</p>

<img src="metas.jpg">
</body>
</html>